$color-footer-hover: #77dd77;

$colores_social:(
    1:#35bf98,
    2:#ea4e5e,
    3:rgb(161, 47, 161),
    4:rgb(193, 223, 26),
);

$hover_social:(
    1:#ea4e5e,
    2:#35bf98,
    3:rgb(193, 223, 26),
    4:rgb(161, 47, 161),
);

$hover_social_deg:(
    1:#35bf9894,
    2:#ea4e5e,
    3:rgba(161, 47, 161, 0.541),
    4:rgba(194, 223, 26, 0.541),
);